a {
    cursor: pointer;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
